<%= provide(:title, "ログイン") %>
<h1>ログインしよう！</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class:"form-control", placeholder:"メールアドレス" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class:"form-control", placeholder:"パスワード"%>
      </div>

      <%= f.label :remember_me, class:"checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動的にログインする</span>
      <% end %>

      <%= f.submit "ログイン", class:"btn btn-primary" %>
    <% end %>

    <br><p>まだ登録していない場合は<%= link_to "アカウントを作成", signup_path %>しよう！</p>
  </div>
</div>


    